@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}
/* dark-01 */
.text-deep-gray{
    color:#131313 ;
}
/* dark-02 */
.text-gray{
    color:#424242 ;
}
/* dark-03 */
.text-light-gray{
    color: #727272;
}
.text-primary{
    color: #FF900E;
}

/* background */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* navbar styles */
/* header>*{
    max-width: 1440px;
    margin: 0 auto;
} */
.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.12rem;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style*/
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size:4rem ;
    color: #131313;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
}
.banner-image{
    width: 100%;
}

/* teams and feature related styles */
.teams{
    align-items: center;
    /* gap: 73px; */
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    /* margin-left: 130px; */
    margin: 20px auto;
    max-width: 530px;
}
#quick-list{
    font-weight: 500;
}

/* feature section related style */
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-architect img{
    width: 100%;
}

/* some fact related style */
.fact-description{
    max-width: 540px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 100px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 40px;
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    max-width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsor related info */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}

/* footer style */
footer{
    text-align: center;
    padding: 40px 410px;
    margin-top: 130px;
}

/* responsive media query */
@media screen and (max-width: 576px){
      .navbar,  .teams, .features{
        flex-direction: column;
      }
      .team-img-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features, .some-facts{
        text-align: center;
    }
    #experience-badge{
        margin-left: 20px;
        margin-top: 20px;
    }
    .facts-container, .sponsor-companies{
        justify-items: center;
        gap: 24px;
    }
    .fact-card{
        padding: 30px;
    }
    footer{
        padding: 10px 10px;
    }
}

@media screen and (min-width: 576px) and (max-width:992px){
    .teams, .features{
        flex-direction: column;
      }
    .our-features,.some-facts,.fact-description{
        text-align: center;
    }
    #experience-badge{
        margin: 10px;
    }
    .fact-description{
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .facts-container,.sponsor-companies{
        grid-template-columns: repeat(2,1fr);
        gap: 70px;
        justify-items: center;
    }
    .fact-card{
        padding: 30px;
    }
    footer{
        padding: 10px 10px;
    }
}